version: '3.7'
services:
    odtk-jupyter:
        image: ansys/odtk/odtk-jupyter:7.5.0-centos7
        build: 
            context: .
            args:
                baseImage: ansys/odtk/odtk-python:7.5.0-centos7
        ports:
            - 8888:8888
        init: true # This enables the "tini" init tool for the entrypoint as recommended by Jupyter Lab
        volumes:
            - ./notebooks:/home/odtk/notebooks
            - ./data:/home/odtk/data
        env_file: ../configuration/licensing.env
        environment:
            JUPYTER_LAB_TOKEN: ansys-odtk
