version: '3.7'
services:
    odtk-python:
        image: ansys/odtk/odtk-python:7.7.1-ubi8
        build:
            context: .
            args:
                baseImage: ansys/odtk/odtk-runtime:7.7.1-ubi8
        env_file: ../configuration/licensing.env